<div class="formcontainer">
  <div class="formbody">
    <form style="width: 100%" [formGroup]="myForm">
      <div class="header">Register</div>
      <div>
        <div style="width: 100%">
          <input
            type="text"
            formControlName="email"
            matInput
            placeholder="Email"
            id="email"
          />
        </div>
      </div>
      <div>
        <div style="width: 100%">
          <input
            type="text"
            formControlName="username"
            matInput
            placeholder="Username"
            id="user"
          />
        </div>
      </div>
      <div>
        <div style="width: 100%">
          <input
            type="password"
            formControlName="password"
            matInput
            placeholder="Password"
            id="pass"
          />
        </div>
      </div>
      <!-- <div>
        <div style="width: 100%">
          <input
            type="password"
            formControlName="cnfpass"
            matInput
            placeholder="Re-enter Password"
            id="cnfpass"
          />
        </div>
        <span *ngIf="isValid('cnfpass')"
          >Password and confirm password should match</span
        >
      </div> -->
      <div style="margin-top: 20px">
        <button class="form-btn" (click)="registerUser()">Register</button>
      </div>

      <div style="text-align: center">
        {{ successMessage }}
      </div>
    </form>
  </div>

  <div>
    <div style="width: 290px; padding: 20px">
      <button class="form-btn-hollow" (click)="movetologin()">Login</button>
    </div>
  </div>
</div>
